

{% extends 'base.html.twig' %}

   {% block head %}{% endblock %}
    
    {% block body %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 d-flex flex-column justify-content-center align-items-center failed-search">
                    <h2>Votre recherche n'a donné aucun résultat...</h2>
                </div>
            </div>
        </div>
    {% endblock %}

